#vaccine_info:hover {
    background: #ece3f0 !important;
    color: black;
}

#vaccine_info {
    background: #59057b !important;
    color: white;
}

#clinical_trials:hover {
    color: black !important;
    background: #ece3f0 !important;
}

#trial_info {
    padding-left: 30%;
    padding-right: 30%;
}

.country--page2 {
    padding: 8% 0 3% 0;
}
