@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

.mainNav {
    padding: 0.45em 0;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

#nav-text-color {
    color: #93329e;
}

#nav-text-light {
    color: #fff;
}

.fa-syringe {
    color: #93329e;
    opacity: 0.6;
    font-size: 1.34em;
    margin-top: 5px;
    display: inline;
    transition: 0.2s ease;
}

.fa-syringe:hover {
    opacity: 0.9;
}

.navbar-light .navbar-nav .nav-link {
    color: #93329e;
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: large;
}

.navbar-light .navbar-nav .show > .nav-link {
    color: #93329e;
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 0.85;
    /* background-color:ghostwhite; */
    color: #93329e;
}

.nav-container {
    margin: 0 5%;
    padding: 0;
}
