@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap');

.entry {
    border-radius: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.country--page {
    padding: 8% 0;
}

.country--name {
    padding: 0.6em 1em;
    border-right: 1px solid #dee2e6;
    font-family: 'Roboto';
    font-weight: 700;
    background: linear-gradient(#e66465, #9198e5);
    background-clip: text;
    color: transparent;
}

.o50 {
    opacity: 0.5;
}

.col-reset {
    padding: 0;
}

.mtable {
    height: 15em;
    overflow-y: scroll;
}

.num--vacc {
    padding: 2em 2em 2em 2em;
    text-align: left;
}

.flag,
.map {
    padding: 0;
}

.map > img {
    width: 100%;
    object-fit: cover;
}

.leaflet-container {
    width: 100% !important;
    border-radius: 0 !important;
    height: 100% !important;
}

.list-group {
    text-align: left;
    width: 100%;
}

.list-group-item {
    padding-left: 2em;
    width: 100%;
}

.capital--name {
    padding: 0.6em 1em;
    font-family: 'Roboto';
    font-weight: 300;
    opacity: 0.5;
}

.sublabel {
    padding: 1.5em 2em;
    text-align: left;
}

.sublabel > h3 {
    font-weight: 400;
}
